In [4]:
import pandas as pd

In [3]:
study_per_hour={
    "Hours":[1,2,3,4,5,6],
    "Score":[52,57,65,70,75,80]
}

df=pd.DataFrame(study_per_hour)

In [7]:
df

   Hours  Score
0      1     52
1      2     57
2      3     65
3      4     70
4      5     75
5      6     80

In [8]:
df.to_csv("student.csv",index=False)